#### Before You Start


cd .devcontainer </br>
run docker-compose up

In [1]:
! pip install psycopg2
! pip install sqlalchemy

Requirement already satisfied: psycopg2 in /usr/local/python/3.12.1/lib/python3.12/site-packages (2.9.10)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python3 -m pip install --upgrade pip
Requirement already satisfied: sqlalchemy in /usr/local/python/3.12.1/lib/python3.12/site-packages (2.0.36)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/codespace/.local/lib/python3.12/site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from sqlalchemy) (3.1.1)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python3 -m pip install --upgrade pip

In [2]:
import psycopg2  #import of the psycopg2 python library
import pandas as pd #import of the pandas python library
import pandas.io.sql as psql

##No transaction is started when commands are executed and no commit() or rollback() is required. 
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT

In [3]:
try:
    # Connect to the postgreSQL server with username, and password credentials
    con = psycopg2.connect(user = "postgres",
                                  password = "postgres",
                                  host = "localhost",
                                  port = "5432")
    
    con.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT);
    print("Connected Successfully to PostgreSQL server!!")
    
    # Obtain a DB Cursor to perform database operations
    cursor = con.cursor();
except (Exception, psycopg2.Error) as error :
     print ("Error while connecting to PostgreSQL", error)

Connected Successfully to PostgreSQL server!!

### Test that reading CSV works

In [4]:
import pandas as pd
df = pd.read_csv('circuits.csv')
print(df.head())  # Displays the first 5 rows

   circuit_id                            name      location    country  \
0           1  Albert Park Grand Prix Circuit     Melbourne  Australia
1           2    Sepang International Circuit  Kuala Lumpur   Malaysia
2           3   Bahrain International Circuit        Sakhir    Bahrain
3           4  Circuit de Barcelona-Catalunya      Montmel√≥      Spain
4           5                   Istanbul Park      Istanbul     Turkey

        lat       long  alt                                                url
0 -37.84970  144.96800   10  http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1   2.76083  101.73800   18  http://en.wikipedia.org/wiki/Sepang_Internatio...
2  26.03250   50.51060    7  http://en.wikipedia.org/wiki/Bahrain_Internati...
3  41.57000    2.26111  109  http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4  40.95170   29.40500  130         http://en.wikipedia.org/wiki/Istanbul_Park

### Create sample table

In [14]:
#Create "test" Table

try:
    #table_name variable
    seasonTable="season"
    create_all_tables_query = '''
    CREATE TABLE IF NOT EXISTS circuit (
        circuit_id INT PRIMARY KEY,
        -- circuit_ref omitted
        name TEXT,
        location TEXT,
        country TEXT,
        lat float,
        long float,
        alt INT,
        url TEXT
    );

    CREATE TABLE IF NOT EXISTS constructor (
        constructor_id INT PRIMARY KEY,
        -- removing constructor_ref for normalisation purposes
        name TEXT,
        nationality TEXT,
        url TEXT
    );

    CREATE TABLE IF NOT EXISTS driver (
        driver_id INT PRIMARY KEY,
        -- removing driver_ref and number for normalisation purposes
        code TEXT,
        first_name TEXT, --no longer forename
        last_name TEXT, --no longer surname
        dob DATE,
        nationality TEXT,
        url TEXT
    );

    CREATE TABLE IF NOT EXISTS lap_time (
        race_id INT PRIMARY KEY,
        driver_id INT REFERENCES driver,
        lap INT,
        position INT,
        time_in_milliseconds INT
    );

    CREATE TABLE IF NOT EXISTS pit_stop (
        race_id INT,
        driver_id INT,
        PRIMARY KEY (race_id, driver_id),
        stop INT,
        lap INT,
        time_in_miliseconds INT
    );

    CREATE TABLE IF NOT EXISTS race (
        race_id INT PRIMARY KEY,
        year INT,
        round INT,
        circuit_id INT REFERENCES circuit,
        name TEXT,
        date DATE,
        url TEXT
    );

    CREATE TABLE IF NOT EXISTS result (
        result_id INT PRIMARY KEY,
        race_id INT REFERENCES race,
        driver_id INT REFERENCES driver,
        constructor_id INT REFERENCES constructor,
        -- number and grid omitted
        position INT, -- use positionOrder instead of position/positionText
        points INT,
        laps INT,
        -- omit time, unclean
        time_in_miliseconds INT,
        fastestLap INT,
        rank INT,
        fastest_lap_time INT,
        fastest_lap_speed float
    );

    CREATE TABLE IF NOT EXISTS season (
        year INT PRIMARY KEY,
        url TEXT
    );

    '''


    #Execute this command (SQL Query)
    cursor.execute(create_all_tables_query)
    
    # Make the changes to the database persistent
    con.commit()
    print("All tables created successfully in PostgreSQL ")
except (Exception, psycopg2.Error) as error:
    # if it exits with an exception the transaction is rolled back.
    con.rollback()
    print("Error While Creating the DB: ",error)

All tables created successfully in PostgreSQL

Check table creation

In [6]:
# [information_schema.tables] keep listing of every table being managed by Postgres for a particular database.
# specifying the tabel_schema to 'public' to only list tables that you create.
cursor.execute("""SELECT table_name 
                  FROM information_schema.tables 
                  WHERE table_schema = 'public'  
               """)

for table in cursor.fetchall():
    print(table)

('season',)
('result',)
('racestest',)
('circuit',)
('race',)
('constructor_result',)
('constructor',)
('constructor_standing',)
('driver_standing',)
('driver',)
('lap_time',)
('pit_stop',)
('result_id',)

### Read seasons.CSV and insert into already created tables with constraints

In [8]:
# import pandas as pd
# from sqlalchemy import create_engine

# # Load the CSV file into a pandas DataFrame
# csv_file_path = "seasons.csv"  # Replace with your CSV file path
# table_name = "season"  # Replace with your PostgreSQL table name
# df = pd.read_csv(csv_file_path)

# # Connect to the PostgreSQL database
# # Replace the placeholders with your database credentials
# user = "postgres"
# password = "postgres"
# host = "localhost"
# port = "5432"
# database = "postgres"
# engine = create_engine(f"postgresql+psycopg2://{user}:{password}@{host}:{port}/{database}")

# # Loop through the list of CSV files and import them into the PostgreSQL tables
# for csv_file, table_name in csv_files:
#     try:
#         # Load CSV file into DataFrame
#         df = pd.read_csv(csv_file)

#         # Write the DataFrame to the PostgreSQL table
#         df.to_sql(table_name, con=engine, if_exists="append", index=False)
#         print(f"Data from {csv_file} successfully imported into {table_name}!")
#     except Exception as e:
#         print(f"An error occurred while importing {csv_file} into {table_name}: {e}")

In [9]:
# # Load the CSV file into a pandas DataFrame
# csv_file_path = "circuits.csv"  # Replace with your CSV file path
# table_name = "circuit"  # Replace with your PostgreSQL table name
# df = pd.read_csv(csv_file_path)

# # Rename DataFrame columns to match the PostgreSQL table schema
# df.rename(columns={
#     "circuitId": "circuit_id",
#     "lng": "long",
#     # Add any other necessary mappings here
# }, inplace=True)

# # Write the DataFrame to the PostgreSQL table
# try:
#     df.to_sql(table_name, con=engine, if_exists="append", index=False)
#     print(f"Data from {csv_file_path} successfully imported into {table_name}!")
# except Exception as e:
#     print(f"An error occurred: {e}")

### Read all CSVs and insert into postgres

In [15]:
import pandas as pd
from sqlalchemy import create_engine

# List of CSV files and corresponding table names
csv_files = [
    ("circuit.csv", "circuit"),
    ("constructor.csv", "constructor"),
    ("driver.csv", "driver"),
    ("lap_time.csv", "lap_time"),
    ("pit_stop.csv", "pit_stop"),
    ("race.csv", "race"),
    ("result.csv", "result"),
    ("season.csv", "season")
]

# Connect to the PostgreSQL database
user = "postgres"
password = "postgres"
host = "localhost"
port = "5432"
database = "postgres"
engine = create_engine(f"postgresql+psycopg2://{user}:{password}@{host}:{port}/{database}")

# Loop through the list of CSV files and import them into the PostgreSQL tables
for csv_file, table_name in csv_files:
    try:
        # Load CSV file into DataFrame
        df = pd.read_csv(csv_file)

        # Write the DataFrame to the PostgreSQL table
        df.to_sql(table_name, con=engine, if_exists="append", index=False)
        print(f"Data from {csv_file} successfully imported into {table_name}!")
    except Exception as e:
        print(f"An error occurred while importing {csv_file} into {table_name}: {e}")


# import pandas as pd
# from sqlalchemy import create_engine

# # Load the CSV file into a pandas DataFrame
# csv_file_path = "races.csv"  # Replace with your CSV file path
# table_name = "race"  # Replace with your PostgreSQL table name
# df = pd.read_csv(csv_file_path)

# # Rename DataFrame columns to match the PostgreSQL table schema
# df.rename(columns={
#     "raceId": "race_id",
#     "circuitId": "circuit_id",
#     # Add any other necessary mappings here
# }, inplace=True)

# columns_to_keep = ["race_id", "year", "round", "circuit_id", "name", "date", "url"]
# df = df[columns_to_keep]

# # Connect to the PostgreSQL database
# # Replace the placeholders with your database credentials
# user = "postgres"
# password = "postgres"
# host = "localhost"
# port = "5432"
# database = "postgres"
# engine = create_engine(f"postgresql+psycopg2://{user}:{password}@{host}:{port}/{database}")

# # Write the DataFrame to the PostgreSQL table
# try:
#     df.to_sql(table_name, con=engine, if_exists="append", index=False)
#     print(f"Data from {csv_file_path} successfully imported into {table_name}!")
# except Exception as e:
#     print(f"An error occurred: {e}")

An error occurred while importing circuit.csv into circuit: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "circuit_pkey"
DETAIL:  Key (circuit_id)=(1) already exists.

[SQL: INSERT INTO circuit (circuit_id, name, location, country, lat, long, alt, url) VALUES (%(circuit_id__0)s, %(name__0)s, %(location__0)s, %(country__0)s, %(lat__0)s, %(long__0)s, %(alt__0)s, %(url__0)s), (%(circuit_id__1)s, %(name__1)s, %(location__1)s ... 9202 characters truncated ... (name__76)s, %(location__76)s, %(country__76)s, %(lat__76)s, %(long__76)s, %(alt__76)s, %(url__76)s)]
[parameters: {'circuit_id__0': 1, 'country__0': 'Australia', 'long__0': 144.968, 'url__0': 'http://en.wikipedia.org/wiki/Melbourne_Grand_Prix_Circuit', 'name__0': 'Albert Park Grand Prix Circuit', 'alt__0': 10, 'location__0': 'Melbourne', 'lat__0': -37.8497, 'circuit_id__1': 2, 'country__1': 'Malaysia', 'long__1': 101.738, 'url__1': 'http://en.wikipedia.org/wiki/Sepang_International_Circuit', 'name__1': 'Sepang International Circuit', 'alt__1': 18, 'location__1': 'Kuala Lumpur', 'lat__1': 2.76083, 'circuit_id__2': 3, 'country__2': 'Bahrain', 'long__2': 50.5106, 'url__2': 'http://en.wikipedia.org/wiki/Bahrain_International_Circuit', 'name__2': 'Bahrain International Circuit', 'alt__2': 7, 'location__2': 'Sakhir', 'lat__2': 26.0325, 'circuit_id__3': 4, 'country__3': 'Spain', 'long__3': 2.26111, 'url__3': 'http://en.wikipedia.org/wiki/Circuit_de_Barcelona-Catalunya', 'name__3': 'Circuit de Barcelona-Catalunya', 'alt__3': 109, 'location__3': 'Montmel√≥', 'lat__3': 41.57, 'circuit_id__4': 5, 'country__4': 'Turkey', 'long__4': 29.405, 'url__4': 'http://en.wikipedia.org/wiki/Istanbul_Park', 'name__4': 'Istanbul Park', 'alt__4': 130, 'location__4': 'Istanbul', 'lat__4': 40.9517, 'circuit_id__5': 6, 'country__5': 'Monaco', 'long__5': 7.42056, 'url__5': 'http://en.wikipedia.org/wiki/Circuit_de_Monaco', 'name__5': 'Circuit de Monaco', 'alt__5': 7, 'location__5': 'Monte-Carlo', 'lat__5': 43.7347, 'circuit_id__6': 7, 'country__6': 'Canada' ... 516 parameters truncated ... 'location__70': 'Sochi', 'lat__70': 43.4057, 'circuit_id__71': 73, 'country__71': 'Azerbaijan', 'long__71': 49.8533, 'url__71': 'http://en.wikipedia.org/wiki/Baku_City_Circuit', 'name__71': 'Baku City Circuit', 'alt__71': -7, 'location__71': 'Baku', 'lat__71': 40.3725, 'circuit_id__72': 75, 'country__72': 'Portugal', 'long__72': -8.6267, 'url__72': 'http://en.wikipedia.org/wiki/Algarve_International_Circuit', 'name__72': 'Aut√≥dromo Internacional do Algarve', 'alt__72': 108, 'location__72': 'Portim√£o', 'lat__72': 37.227, 'circuit_id__73': 76, 'country__73': 'Italy', 'long__73': 11.3719, 'url__73': 'http://en.wikipedia.org/wiki/Mugello_Circuit', 'name__73': 'Autodromo Internazionale del Mugello', 'alt__73': 255, 'location__73': 'Mugello', 'lat__73': 43.9975, 'circuit_id__74': 77, 'country__74': 'Saudi Arabia', 'long__74': 39.1044, 'url__74': 'http://en.wikipedia.org/wiki/Jeddah_Street_Circuit', 'name__74': 'Jeddah Corniche Circuit', 'alt__74': 15, 'location__74': 'Jeddah', 'lat__74': 21.6319, 'circuit_id__75': 78, 'country__75': 'Qatar', 'long__75': 51.4542, 'url__75': 'http://en.wikipedia.org/wiki/Losail_International_Circuit', 'name__75': 'Losail International Circuit', 'alt__75': 12, 'location__75': 'Al Daayen', 'lat__75': 25.49, 'circuit_id__76': 79, 'country__76': 'USA', 'long__76': -80.2389, 'url__76': 'http://en.wikipedia.org/wiki/Miami_International_Autodrome', 'name__76': 'Miami International Autodrome', 'alt__76': 0, 'location__76': 'Miami', 'lat__76': 25.9581}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)
An error occurred while importing constructor.csv into constructor: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "constructor_pkey"
DETAIL:  Key (constructor_id)=(1) already exists.

[SQL: INSERT INTO constructor (constructor_id, name, nationality, url) VALUES (%(constructor_id__0)s, %(name__0)s, %(nationality__0)s, %(url__0)s), (%(constructor_id__1)s, %(name__1)s, %(nationality__1)s, %(url__1)s), (%(constructor_id__2)s, %(name__2)s, % ... 15816 characters truncated ... __210)s, %(url__210)s), (%(constructor_id__211)s, %(name__211)s, %(nationality__211)s, %(url__211)s)]
[parameters: {'name__0': 'McLaren', 'nationality__0': 'British', 'url__0': 'http://en.wikipedia.org/wiki/McLaren', 'constructor_id__0': 1, 'name__1': 'BMW Sauber', 'nationality__1': 'German', 'url__1': 'http://en.wikipedia.org/wiki/BMW_Sauber', 'constructor_id__1': 2, 'name__2': 'Williams', 'nationality__2': 'British', 'url__2': 'http://en.wikipedia.org/wiki/Williams_Grand_Prix_Engineering', 'constructor_id__2': 3, 'name__3': 'Renault', 'nationality__3': 'French', 'url__3': 'http://en.wikipedia.org/wiki/Renault_in_Formula_One', 'constructor_id__3': 4, 'name__4': 'Toro Rosso', 'nationality__4': 'Italian', 'url__4': 'http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso', 'constructor_id__4': 5, 'name__5': 'Ferrari', 'nationality__5': 'Italian', 'url__5': 'http://en.wikipedia.org/wiki/Scuderia_Ferrari', 'constructor_id__5': 6, 'name__6': 'Toyota', 'nationality__6': 'Japanese', 'url__6': 'http://en.wikipedia.org/wiki/Toyota_Racing', 'constructor_id__6': 7, 'name__7': 'Super Aguri', 'nationality__7': 'Japanese', 'url__7': 'http://en.wikipedia.org/wiki/Super_Aguri_F1', 'constructor_id__7': 8, 'name__8': 'Red Bull', 'nationality__8': 'Austrian', 'url__8': 'http://en.wikipedia.org/wiki/Red_Bull_Racing', 'constructor_id__8': 9, 'name__9': 'Force India', 'nationality__9': 'Indian', 'url__9': 'http://en.wikipedia.org/wiki/Racing_Point_Force_India', 'constructor_id__9': 10, 'name__10': 'Honda', 'nationality__10': 'Japanese', 'url__10': 'http://en.wikipedia.org/wiki/Honda_Racing_F1', 'constructor_id__10': 11, 'name__11': 'Spyker', 'nationality__11': 'Dutch', 'url__11': 'http://en.wikipedia.org/wiki/Spyker_F1', 'constructor_id__11': 12, 'name__12': 'MF1', 'nationality__12': 'Russian' ... 748 parameters truncated ... 'url__199': 'http://en.wikipedia.org/wiki/Shadow_Racing_Cars', 'constructor_id__199': 202, 'name__200': 'Shadow-Matra', 'nationality__200': 'British', 'url__200': 'http://en.wikipedia.org/wiki/Shadow_Racing_Cars', 'constructor_id__200': 203, 'name__201': 'Brabham-Alfa Romeo', 'nationality__201': 'British', 'url__201': 'http://en.wikipedia.org/wiki/Brabham', 'constructor_id__201': 204, 'name__202': 'Lotus', 'nationality__202': 'Malaysian', 'url__202': 'http://en.wikipedia.org/wiki/Lotus_Racing', 'constructor_id__202': 205, 'name__203': 'Marussia', 'nationality__203': 'Russian', 'url__203': 'http://en.wikipedia.org/wiki/Marussia_F1', 'constructor_id__203': 206, 'name__204': 'Caterham', 'nationality__204': 'Malaysian', 'url__204': 'http://en.wikipedia.org/wiki/Caterham_F1', 'constructor_id__204': 207, 'name__205': 'Lotus F1', 'nationality__205': 'British', 'url__205': 'http://en.wikipedia.org/wiki/Lotus_F1', 'constructor_id__205': 208, 'name__206': 'Manor Marussia', 'nationality__206': 'British', 'url__206': 'http://en.wikipedia.org/wiki/Manor_Motorsport', 'constructor_id__206': 209, 'name__207': 'Haas F1 Team', 'nationality__207': 'American', 'url__207': 'http://en.wikipedia.org/wiki/Haas_F1_Team', 'constructor_id__207': 210, 'name__208': 'Racing Point', 'nationality__208': 'British', 'url__208': 'http://en.wikipedia.org/wiki/Racing_Point_F1_Team', 'constructor_id__208': 211, 'name__209': 'AlphaTauri', 'nationality__209': 'Italian', 'url__209': 'http://en.wikipedia.org/wiki/Scuderia_AlphaTauri', 'constructor_id__209': 213, 'name__210': 'Alpine F1 Team', 'nationality__210': 'French', 'url__210': 'http://en.wikipedia.org/wiki/Alpine_F1_Team', 'constructor_id__210': 214, 'name__211': 'RB F1 Team', 'nationality__211': 'Italian', 'url__211': 'http://en.wikipedia.org/wiki/RB_Formula_One_Team', 'constructor_id__211': 215}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)
An error occurred while importing driver.csv into driver: 'utf-8' codec can't decode byte 0xe9 in position 565: invalid continuation byte
An error occurred while importing lap_time.csv into lap_time: (psycopg2.errors.UndefinedColumn) column "time_in_milliseconds" of relation "lap_time" does not exist
LINE 1: ...INTO lap_time (race_id, driver_id, lap, position, time_in_mi...
                                                             ^

[SQL: INSERT INTO lap_time (race_id, driver_id, lap, position, time_in_milliseconds) VALUES (%(race_id__0)s, %(driver_id__0)s, %(lap__0)s, %(position__0)s, %(time_in_milliseconds__0)s), (%(race_id__1)s, %(driver_id__1)s, %(lap__1)s, %(position__1)s, %(time ... 103184 characters truncated ... (race_id__999)s, %(driver_id__999)s, %(lap__999)s, %(position__999)s, %(time_in_milliseconds__999)s)]
[parameters: {'time_in_milliseconds__0': 98109, 'driver_id__0': 1, 'race_id__0': 20, 'position__0': '1:38.109', 'lap__0': 1, 'time_in_milliseconds__1': 93006, 'driver_id__1': 2, 'race_id__1': 20, 'position__1': '1:33.006', 'lap__1': 1, 'time_in_milliseconds__2': 92713, 'driver_id__2': 3, 'race_id__2': 20, 'position__2': '1:32.713', 'lap__2': 1, 'time_in_milliseconds__3': 92803, 'driver_id__3': 4, 'race_id__3': 20, 'position__3': '1:32.803', 'lap__3': 1, 'time_in_milliseconds__4': 92342, 'driver_id__4': 5, 'race_id__4': 20, 'position__4': '1:32.342', 'lap__4': 1, 'time_in_milliseconds__5': 92605, 'driver_id__5': 6, 'race_id__5': 20, 'position__5': '1:32.605', 'lap__5': 1, 'time_in_milliseconds__6': 92502, 'driver_id__6': 7, 'race_id__6': 20, 'position__6': '1:32.502', 'lap__6': 1, 'time_in_milliseconds__7': 92537, 'driver_id__7': 8, 'race_id__7': 20, 'position__7': '1:32.537', 'lap__7': 1, 'time_in_milliseconds__8': 93240, 'driver_id__8': 9, 'race_id__8': 20, 'position__8': '1:33.240', 'lap__8': 1, 'time_in_milliseconds__9': 92572, 'driver_id__9': 10, 'race_id__9': 20, 'position__9': '1:32.572', 'lap__9': 1 ... 4900 parameters truncated ... 'time_in_milliseconds__990': 92297, 'driver_id__990': 32, 'race_id__990': 22, 'position__990': '1:32.297', 'lap__990': 15, 'time_in_milliseconds__991': 92553, 'driver_id__991': 33, 'race_id__991': 22, 'position__991': '1:32.553', 'lap__991': 15, 'time_in_milliseconds__992': 92206, 'driver_id__992': 34, 'race_id__992': 22, 'position__992': '1:32.206', 'lap__992': 15, 'time_in_milliseconds__993': 92279, 'driver_id__993': 35, 'race_id__993': 22, 'position__993': '1:32.279', 'lap__993': 15, 'time_in_milliseconds__994': 95167, 'driver_id__994': 36, 'race_id__994': 22, 'position__994': '1:35.167', 'lap__994': 15, 'time_in_milliseconds__995': 93247, 'driver_id__995': 37, 'race_id__995': 22, 'position__995': '1:33.247', 'lap__995': 15, 'time_in_milliseconds__996': 92676, 'driver_id__996': 38, 'race_id__996': 22, 'position__996': '1:32.676', 'lap__996': 15, 'time_in_milliseconds__997': 92876, 'driver_id__997': 39, 'race_id__997': 22, 'position__997': '1:32.876', 'lap__997': 15, 'time_in_milliseconds__998': 115064, 'driver_id__998': 40, 'race_id__998': 22, 'position__998': '1:55.064', 'lap__998': 15, 'time_in_milliseconds__999': 103533, 'driver_id__999': 41, 'race_id__999': 22, 'position__999': '1:43.533', 'lap__999': 15}]
(Background on this error at: https://sqlalche.me/e/20/f405)
An error occurred while importing pit_stop.csv into pit_stop: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "pit_stop_pkey"
DETAIL:  Key (race_id, driver_id)=(841, 153) already exists.

[SQL: INSERT INTO pit_stop (race_id, driver_id, stop, lap, time_in_miliseconds) VALUES (%(race_id__0)s, %(driver_id__0)s, %(stop__0)s, %(lap__0)s, %(time_in_miliseconds__0)s), (%(race_id__1)s, %(driver_id__1)s, %(stop__1)s, %(lap__1)s, %(time_in_milisecond ... 98179 characters truncated ... ), (%(race_id__999)s, %(driver_id__999)s, %(stop__999)s, %(lap__999)s, %(time_in_miliseconds__999)s)]
[parameters: {'time_in_miliseconds__0': 26898, 'driver_id__0': 153, 'race_id__0': 841, 'stop__0': 1, 'lap__0': 1, 'time_in_miliseconds__1': 25021, 'driver_id__1': 30, 'race_id__1': 841, 'stop__1': 1, 'lap__1': 1, 'time_in_miliseconds__2': 23426, 'driver_id__2': 17, 'race_id__2': 841, 'stop__2': 1, 'lap__2': 11, 'time_in_miliseconds__3': 23251, 'driver_id__3': 4, 'race_id__3': 841, 'stop__3': 1, 'lap__3': 12, 'time_in_miliseconds__4': 23842, 'driver_id__4': 13, 'race_id__4': 841, 'stop__4': 1, 'lap__4': 13, 'time_in_miliseconds__5': 23643, 'driver_id__5': 22, 'race_id__5': 841, 'stop__5': 1, 'lap__5': 13, 'time_in_miliseconds__6': 22603, 'driver_id__6': 20, 'race_id__6': 841, 'stop__6': 1, 'lap__6': 14, 'time_in_miliseconds__7': 24863, 'driver_id__7': 814, 'race_id__7': 841, 'stop__7': 1, 'lap__7': 14, 'time_in_miliseconds__8': 25259, 'driver_id__8': 816, 'race_id__8': 841, 'stop__8': 1, 'lap__8': 14, 'time_in_miliseconds__9': 25342, 'driver_id__9': 67, 'race_id__9': 841, 'stop__9': 1, 'lap__9': 15 ... 4900 parameters truncated ... 'time_in_miliseconds__990': 25074, 'driver_id__990': 817, 'race_id__990': 857, 'stop__990': 1, 'lap__990': 25, 'time_in_miliseconds__991': 22894, 'driver_id__991': 15, 'race_id__991': 857, 'stop__991': 2, 'lap__991': 27, 'time_in_miliseconds__992': 14919, 'driver_id__992': 13, 'race_id__992': 857, 'stop__992': 2, 'lap__992': 30, 'time_in_miliseconds__993': 27619, 'driver_id__993': 13, 'race_id__993': 857, 'stop__993': 3, 'lap__993': 31, 'time_in_miliseconds__994': 42529, 'driver_id__994': 817, 'race_id__994': 857, 'stop__994': 2, 'lap__994': 32, 'time_in_miliseconds__995': 22519, 'driver_id__995': 808, 'race_id__995': 857, 'stop__995': 2, 'lap__995': 33, 'time_in_miliseconds__996': 24789, 'driver_id__996': 815, 'race_id__996': 857, 'stop__996': 2, 'lap__996': 34, 'time_in_miliseconds__997': 21977, 'driver_id__997': 16, 'race_id__997': 857, 'stop__997': 2, 'lap__997': 35, 'time_in_miliseconds__998': 22339, 'driver_id__998': 22, 'race_id__998': 857, 'stop__998': 2, 'lap__998': 35, 'time_in_miliseconds__999': 21240, 'driver_id__999': 17, 'race_id__999': 857, 'stop__999': 2, 'lap__999': 37}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)
An error occurred while importing race.csv into race: (psycopg2.errors.DatetimeFieldOverflow) date/time field value out of range: "29/3/2009"
LINE 1: ...) VALUES (1, 2009, 1, 1, 'Australian Grand Prix', '29/3/2009...
                                                             ^
HINT:  Perhaps you need a different "datestyle" setting.

[SQL: INSERT INTO race (race_id, year, round, circuit_id, name, date, url) VALUES (%(race_id__0)s, %(year__0)s, %(round__0)s, %(circuit_id__0)s, %(name__0)s, %(date__0)s, %(url__0)s), (%(race_id__1)s, %(year__1)s, %(round__1)s, %(circuit_id__1)s, %(name__1 ... 114954 characters truncated ... 9)s, %(year__999)s, %(round__999)s, %(circuit_id__999)s, %(name__999)s, %(date__999)s, %(url__999)s)]
[parameters: {'circuit_id__0': 1, 'url__0': 'http://en.wikipedia.org/wiki/2009_Australian_Grand_Prix', 'date__0': '29/3/2009', 'round__0': 1, 'year__0': 2009, 'race_id__0': 1, 'name__0': 'Australian Grand Prix', 'circuit_id__1': 2, 'url__1': 'http://en.wikipedia.org/wiki/2009_Malaysian_Grand_Prix', 'date__1': '5/4/2009', 'round__1': 2, 'year__1': 2009, 'race_id__1': 2, 'name__1': 'Malaysian Grand Prix', 'circuit_id__2': 17, 'url__2': 'http://en.wikipedia.org/wiki/2009_Chinese_Grand_Prix', 'date__2': '19/4/2009', 'round__2': 3, 'year__2': 2009, 'race_id__2': 3, 'name__2': 'Chinese Grand Prix', 'circuit_id__3': 3, 'url__3': 'http://en.wikipedia.org/wiki/2009_Bahrain_Grand_Prix', 'date__3': '26/4/2009', 'round__3': 4, 'year__3': 2009, 'race_id__3': 4, 'name__3': 'Bahrain Grand Prix', 'circuit_id__4': 4, 'url__4': 'http://en.wikipedia.org/wiki/2009_Spanish_Grand_Prix', 'date__4': '10/5/2009', 'round__4': 5, 'year__4': 2009, 'race_id__4': 5, 'name__4': 'Spanish Grand Prix', 'circuit_id__5': 6, 'url__5': 'http://en.wikipedia.org/wiki/2009_Monaco_Grand_Prix', 'date__5': '24/5/2009', 'round__5': 6, 'year__5': 2009, 'race_id__5': 6, 'name__5': 'Monaco Grand Prix', 'circuit_id__6': 5, 'url__6': 'http://en.wikipedia.org/wiki/2009_Turkish_Grand_Prix', 'date__6': '7/6/2009', 'round__6': 7, 'year__6': 2009, 'race_id__6': 7, 'name__6': 'Turkish Grand Prix', 'circuit_id__7': 9 ... 6900 parameters truncated ... 'name__992': 'Japanese Grand Prix', 'circuit_id__993': 69, 'url__993': 'http://en.wikipedia.org/wiki/2018_United_States_Grand_Prix', 'date__993': '21/10/2018', 'round__993': 18, 'year__993': 2018, 'race_id__993': 1006, 'name__993': 'United States Grand Prix', 'circuit_id__994': 32, 'url__994': 'http://en.wikipedia.org/wiki/2018_Mexican_Grand_Prix', 'date__994': '28/10/2018', 'round__994': 19, 'year__994': 2018, 'race_id__994': 1007, 'name__994': 'Mexican Grand Prix', 'circuit_id__995': 18, 'url__995': 'http://en.wikipedia.org/wiki/2018_Brazilian_Grand_Prix', 'date__995': '11/11/2018', 'round__995': 20, 'year__995': 2018, 'race_id__995': 1008, 'name__995': 'Brazilian Grand Prix', 'circuit_id__996': 24, 'url__996': 'http://en.wikipedia.org/wiki/2018_Abu_Dhabi_Grand_Prix', 'date__996': '25/11/2018', 'round__996': 21, 'year__996': 2018, 'race_id__996': 1009, 'name__996': 'Abu Dhabi Grand Prix', 'circuit_id__997': 1, 'url__997': 'http://en.wikipedia.org/wiki/2019_Australian_Grand_Prix', 'date__997': '17/3/2019', 'round__997': 1, 'year__997': 2019, 'race_id__997': 1010, 'name__997': 'Australian Grand Prix', 'circuit_id__998': 3, 'url__998': 'http://en.wikipedia.org/wiki/2019_Bahrain_Grand_Prix', 'date__998': '31/3/2019', 'round__998': 2, 'year__998': 2019, 'race_id__998': 1011, 'name__998': 'Bahrain Grand Prix', 'circuit_id__999': 17, 'url__999': 'http://en.wikipedia.org/wiki/2019_Chinese_Grand_Prix', 'date__999': '14/4/2019', 'round__999': 3, 'year__999': 2019, 'race_id__999': 1012, 'name__999': 'Chinese Grand Prix'}]
(Background on this error at: https://sqlalche.me/e/20/9h9h)
An error occurred while importing result.csv into result: (psycopg2.errors.UndefinedColumn) column "race_id.1" of relation "result" does not exist
LINE 1: INSERT INTO result (result_id, race_id, "race_id.1", constru...
                                                ^

[SQL: INSERT INTO result (result_id, race_id, "race_id.1", constructor_id, position, points, laps, time_in_miliseconds, "fastestLap", rank, fastest_lap_time, fastest_lap_speed) VALUES (%(result_id__0)s, %(race_id__0)s, %(race_id_1__0)s, %(constructor_id__0 ... 255506 characters truncated ... s__999)s, %(fastestLap__999)s, %(rank__999)s, %(fastest_lap_time__999)s, %(fastest_lap_speed__999)s)]

### View query

In [11]:
# sql_select_query = """ SELECT * FROM season WHERE year = 2001"""
# sql_select_query = """ SELECT r.race_id, r.year FROM race as r JOIN season as s ON s.year = r.year WHERE s.year = 2001"""

# try:
#     cursor.execute(sql_select_query, (1,))
#     person_records = cursor.fetchall() 
#     print("Print each row and it's columns values:\n")
#     # print(person_records)
#     df = pd.DataFrame(person_records, columns=['race_id', 'year'])
#     print(df)
# except(Exception, psycopg2.Error) as error :
#     con.rollback()
#     print("Error:", error)


Countries_Customers_Cnt_gt1= psql.read_sql("""SELECT r.race_id, r.year 
                                           FROM race as r 
                                           JOIN season as s 
                                           ON s.year = r.year 
                                           WHERE s.year = 2001
                                          """, engine)
display(Countries_Customers_Cnt_gt1.style)